@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Yeon Sung', cursive;
	font-size: 25px;
}

body {
	height: 1200px;
	font-size: 18px;
	font-family: sans-serif;
	color: #5D6063;
}

.header {
	position: fixed;
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 50px;
	background: #b9936c;
}

.menu > li {
	display: inline;
}

.dropdown:hover .features-menu {
	display: flex;
	flex-direction: column;
	background: #dac292;
	border-radius: 2px;
	padding-top: 69px;
	position: absolute;
	top: -25px;
	left: -30px;
	z-index: 1;
}

.features-menu {
	display: none;
}

.features-menu li {
	font-family: 'Yeon Sung', cursive;
	list-style: none;
	border-bottom: 1px solid #FFF;
	padding: 0 40px 10px 20px;
	margin: 10px;
}

.features-menu li a {
	text-decoration: none;
}

.features-menu li a:visited {
	color: gray;
}

.features-menu li:hover {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.features-menu li:last-of-type {
	border-bottom: none;
}

.dropdown {
	position: relative;
}

.dropdown > span {
	z-index: 2;
	position: relative;
	cursor: pointer;
}
